<link rel="stylesheet" type="text/css" href="assets/css/cookieconsent.min.css" />
<script src="assets/js/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#efefef",
      "text": "#404040"
    },
    "button": {
      "background": "#8ec760",
      "text": "#ffffff"
    }
  },
  "theme": "classic",
  "position": "bottom-right",
  "content": {
    "dismiss": "Got It !",
    "href": "http://www.javapathshala.com/privacypolicy/"
  }
})});
</script>
