{% include social-share.html %}
<aside>
	<div class="panel radius">
		<h4>Wisdoms in your Inbox !</h4>
		{% include subscribe.html %}
	</div>
	<div class="panel radius">
		<h3>Read more Wisdoms !</h3>
		{% include categories.html %}
	</div>
	<div class="panel radius">
		<h3>More Wisdoms !</h3>
		{% for post in site.posts limit:10 %}
			{% include  _sidebarposts.html %}
		{% endfor %}
	</div>

	{% include _facebooklike.html %}
<!--	{% include adv/amazonbanner.html %}-->
<!-- <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">
<img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">
<img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt=""> -->
</aside>
