{% comment %}<!-- show posts by related tags when `related: true` -->{% endcomment %}
  {% assign n_posts = 0 %}
  <table border="0" border-color="#FFFFFF">
    <tr>
  {% for post in site.posts %}
    {% if post.id == page.id %}{% continue %}{% endif %}
    {% for this_category in page.categories %}

        {% if post.categories contains this_category %}
          {% if n_posts == 0 %}
                <p class="subheadline"><b>You May Also Enjoy</b></p>
                <br/>
          {% endif %}
              {% include _maylike.html %}
          {% assign n_posts = n_posts | plus: 1 %}
          {% break %}
        {% endif %}
    {% endfor %}
    {% if n_posts > 3 %}{% break %}{% endif %}
  {% endfor %}
</tr>
</table>
  {% if n_posts > 0 %}
  {% endif %}
