---
layout: compress
---
<!doctype html>
<html class="no-js" lang="{% if site.language == nil %}en{% else %}{{ site.language }}{% endif %}">
<head>
	{% include _head.html %}
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-2892350754252994",
    enable_page_level_ads: true
  });
</script>
</head>
<body id="top-of-page" class="{{ layout.format }}">
	{% unless page.skip_boilerplate %}
	{% include _navigation.html %}
	{% endunless %}

	{% include _masthead.html %}
	{{ content }}

	{% unless page.skip_boilerplate %}
	{% include _footer.html %}
	{% endunless %}

	{% include _footer_scripts.html %}
</body>
</html>
